@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    font-weight: 400;
}

body{
    background-color: beige;
    text-align: center;
    margin: 0.5em;

}

nav{
    background-color: aquamarine;
    border: 1.5px solid #000;
    border-radius: 2rem;
    font-size: 2rem;
    line-height: 4rem;
    margin: 0 auto 1rem;
    max-width: 600px;
}

h1{
    background-color: yellow;
    border-radius: 2rem 2rem 0 0;
    color: #000;
    padding: 1rem;
}

h2{
    margin-top: 3rem;
}
p{
    text-align: justify;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem auto;
    max-width: 1000px;
}

ul{
    list-style-type: none;
}

li{
    border-top: 1px solid #000;
}

li a{
    display: block;
    padding: 1rem;
}

li a,
li :visited{
    text-decoration: none;
    color: #000;
}

li a:hover,
 a:focus{
    background-color: #000;
    color:yellow;
    cursor: pointer;
}

li:last-child a{
    border-radius: 0 0 2rem 2rem;
}


